@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  @apply bg-gray-50;
}

/* Add cross-browser text size adjust support */
html {
  -webkit-text-size-adjust: 100%; /* Chrome, Safari, Edge, iOS */
  text-size-adjust: 100%;         /* Standard */
}
